@media (max-width: 1040px){
	.practice__column {
  padding: 0px 15px;
  flex: 0 1 50%;
}

.whoweare__content  {
  padding: 0px 0px 0px 50px;
}

}

@media (min-width: 1070px){
	.subscribe__body{
		margin: 0px 30px;
	}
}

@media (max-width: 992px){
	.header__menu{
		margin: 0px 0px 0px 80px;
	}
	.services__colum{
		flex: 0 1 50%  ;
	}
		.main-block__image {
		opacity: 0.5;
	}

	.main-block__body{
		padding: 120px 0px 191px 0px;
	}

	.advantages__column{
		flex: 0 1 50%;
	}

	.advantages{
		padding: 50px 0px;
	}

	.header-block__title{
		font-size: 30px;
	}

	.whoweare__content {
  padding: 0px 0px 0px 0px;
}
}

@media (min-width: 992px){
	.getintouch__items {
  display: flex;
  align-items: center;
}

}

@media (max-width: 950px){

.whoweare {
  padding: 50px 0px 50px 0px;
}

.whoweare__header {
  margin: 0px 0px 30px 0px;
}

.whoweare__title{
	font-size: 24px;
}

}

@media (min-width: 810px){
	.subscribe__body{
		display: flex;
		justify-content: space-between;
	}
}


@media (max-width: 767px){
	.header__menu{
		margin: 0px 0px 0px 40px;
	}

	.advantages{
		padding: 30px 0px;
	}

	.practice {
  padding: 40px 0px 40px 0px;
}

.whoweare__video iframe{
  
  width: 430px;
  height: 100%;
  
}

.clients{
	padding: 30px 0;
}

.contact__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__content {
  padding-right: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

}

@media (max-width: 479px){
	.header__menu{
		margin: 0px 0px 0px 20px;
	}
	.menu__link{
		font-size: 18px;
	}

	.header__container{
		min-height: 70px;
	}

	.main-block__title{
		font-size: 42px;
	}

	.main-block__button{
		display: block;
		flex: 1 1 100%;
	}

	.main-block__button:not(:last-child){
  margin-right: 10px;
    }
}


@media (max-width: 1300px){
	.main-block__image img{
		object-position: right;
	}
}

@media (max-width: 670px){
	.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.services__colum {
	padding: 0 15px;
}

	.practice__column {
  padding: 0px 15px;
  flex: 0 1 100%;
}

.practice {
  padding: 80px 0px 80px 0px;
}

.whoweare__video iframe{
  width: 320px;
}

}

 